/.metadata/
/.recommenders/
/Hoopers/nbproject/private/
/_IX Trader test client 4/nbproject/private/
/_IX Trader test client 4/build/
/Autoworld/nbproject/private/
/Autoworld/build/
/Autoworld/dist/
/Microsite Hyundai/nbproject/private/
/ConsoleErrorLog/nbproject/private/
/ConsoleErrorLog/build/
/ConsoleErrorLog/dist/
/_IX Trader test client 4/dist/
/RunAllClients/dist/
*.txt
